/* Logo styles */
.logo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    top: 0;
  }
  
  /* Header styles */
  .app-header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: background-color 0.3s ease;
  }
  
  .app-header:hover {
    background-color: rgba(22, 180, 123, 0.9);
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
  }
  
  /* Navigation styles */
  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .login {
    cursor: pointer;
    margin-right: 30px;
    text-decoration: none;
    position: relative;/* Add relative positioning for dropdown */
    color: #fff;
    align-items: center;
    top :0;
  }

  .app-name {
    font-size: 36px; /* Adjust the font size as needed */
    color: #fff; /* White color */
    margin-left: 10px; /* Add spacing between logo and app name */
    font-family: Garamond , Arial, sans-serif; /* Use your desired font */
    position: sticky;
    top: 0;
    text-decoration: none;
  }
  
  .signup-dropdown {
    display: grid;
    position: absolute;
    padding: 10px;
    background-color: rgba(22, 180, 123, 0.9);
    color: #fff;
    border: solid rgba(22, 180, 123, 0.9);
    border-radius: 20px;
    white-space: nowrap; /* Ensure text stays in one line */
    display: flex;
    align-items: center;
    
  }
  
  .login:hover .signup-dropdown {
    display: block; /* Show signup dropdown on hover */
   
  }
  
  .signup-link {
    text-decoration: none;
    color: #fff;
  }


