/* Signup Page Styles */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #16b47b;
  }
  
  .signup-content {
    display: grid;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .signup-title {
    color: #16b47b;
    font-size: 24px;
    margin-bottom: 20px;
    
  }
  
  /* Form Styles */
  .form-item {
    margin-bottom: 15px;
  }
  
  /* Submit Button Styles */
  .btn-primary {
    background-color: #16b47b; /* Green button background color */
    color: #fff; /* White button text color */
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    vertical-align: center;
    
  }
  
  .btn-primary:hover {
    background-color: #005aa7;
  }

  /* Add these styles to your CSS file */

.dietary-label {
  color: #16b47b;
}

.dietary-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 14px;
}

.dietary-option {
  margin-right: 16px;
}

.favLoc-label {
  color: #16b47b;
}

.favLoc-control {
  margin-bottom: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


/* You can add additional styles as needed */

  
  /* Input Styles */
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Placeholder Styles */
  .form-control::placeholder {
    color: #999;
  }
  
  /* Read-only Input Styles */
  .form-control[readonly] {
    background-color: #eee;
  }
  